<a href="https://colab.research.google.com/github/JoTaijiquan/Example-of-MVC-pattern-on-pure-Python-2015/blob/master/Python101_5_27_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python 101**
updaet 5-27-2020

In [ ]:
#Example 1-1-1

print ("hello, world!")

hello, world!

In [ ]:
#Example 1-1-2

print ("สวัสดีชาวโลก")

สวัสดีชาวโลก

In [ ]:
#Example 1-1-3

def MyFirstFunction():
    print ("มาเขียนโปรแกรมภาษา Python อย่างสนุกสนานกันเถอะ")

if __name__ == "__main__":
    MyFirstFunction()

มาเขียนโปรแกรมภาษา Python อย่างสนุกสนานกันเถอะ

In [ ]:
#Example 1-1-4

'บันทึกสนุกๆ'
def MySecondFunction():
    'เขียนเล่น'
    print ("ขีดๆ","เขียนๆ","เรียนๆ","เล่นๆ")

if __name__ == "__main__":
    MySecondFunction()
    print ("Program Name is",__name__)
    print ("Program Document is",__doc__)
    print ("Function Name is", MySecondFunction.__name__)
    print ("Function Document is", MySecondFunction.__doc__)

ขีดๆ เขียนๆ เรียนๆ เล่นๆ
Program Name is __main__
Program Document is บันทึกสนุกๆ
Function Name is MySecondFunction
Function Document is เขียนเล่น

In [ ]:
#Example 1-2-1

def func_1_2_1():
    'รู้จักกับตัวแปร'

    a = 2
    b = 3.1416
    c = "ABC"
    d = True
    e = False
    f = 4+3j
    g = None

    print ("a =",a)
    print ("b =",b)
    print ("c =",c)
    print ("d =",d)
    print ("e =",e)
    print ("f =",f)
    print ("g =",g)
    
if __name__ == "__main__":
    func_1_2_1()

a = 2
b = 3.1416
c = ABC
d = True
e = False
f = (4+3j)
g = None

In [ ]:
#Example 1-2-2

def func_1_2_2():
    'ชนิดของตัวแปร'
    
    a = 2
    b = 3.1416
    c = "ABC"
    d = True
    e = False
    f = 4+3j
    g = None

    print ("type of a =",type(a))
    print ("type of b =",type(b))
    print ("type of c =",type(c))
    print ("type of d =",type(d))
    print ("type of e =",type(e))
    print ("type of f =",type(f))
    print ("type of g =",type(g))

if __name__ == "__main__":
    func_1_2_2()

type of a = <class 'int'>
type of b = <class 'float'>
type of c = <class 'str'>
type of d = <class 'bool'>
type of e = <class 'bool'>
type of f = <class 'complex'>
type of g = <class 'NoneType'>

In [ ]:
#Example 1-2-3

def func_1_2_3():
    'การคำนวณทางคณิตศาสตร์'
    a = 10
    b = 3
    c = 0+1j
    
    print ("a+b =",a+b)
    print ("a-b =",a-b)
    print ("a*b =",a*b)
    print ("a/b =",a/b)
    print ("a%b =",a%b)
    print ("a//b = ",a//b)
    print ("a**b =",a**b)
    print ("(a+b)*(a-b)/13 =",(a+b)*(a-b)/13)
    print ("c+c = ",c+c) 
    print ("c*c =",c*c)
    
if __name__ == "__main__":
    func_1_2_3()

a+b = 13
a-b = 7
a*b = 30
a/b = 3.3333333333333335
a%b = 1
a//b =  3
a**b = 1000
(a+b)*(a-b)/13 = 7.0
c+c =  2j
c*c = (-1+0j)

In [ ]:
#Example 1-2-4

def func_1_2_4():
    'การดำเนินการทางตรรกะ True=จริง False=เท็จ'

    a=True; b=False
    
    print ("True and True =",a&a)
    print ("True and False =",a&b)
    print ("False and False =",b&b)
    print ("True or True =",a|True)
    print ("True or False =",a|False)
    print ("False or False =",b|b)
    print ("Not True =",not(a))
    print ("a==a is",a==a)
    print ("9==8 is",a==b)
    print ("9>8 is",9>8)
    print ("8>=8 is",8>=8)
    print ("8!=9 is",8!=9)
    
if __name__ == "__main__":
    func_1_2_4()

True and True = True
True and False = False
False and False = False
True or True = True
True or False = True
False or False = False
Not True = False
a==a is True
9==8 is False
9>8 is True
8>=8 is True
8!=9 is True

In [ ]:
#Example 1-2-5

def func_1_2_5():
    'การทำงานกับตัวแปร'

    a,b,c,d = 1,2,"hello", "world"

    print (a,b,c,d)
    print (a+b, c+d)
    print (a*3, c*3)
    a = a+4 
    b+=7
    print (a,b)
    c+="!"; d*=3
    print (c,d)
    
if __name__ == "__main__":
    func_1_2_5()

1 2 hello world
3 helloworld
3 hellohellohello
5 9
hello! worldworldworld

In [ ]:
#Example 1-3-1

def func_1_3_1():
    'คำสั่ง input รับข้อมูลจากคีย์บอร์ด'

    x = input ("Input x ")
    print ("x=",x)
    print ("x=",x,type(x))
    print ("x+3 =",x+"3")
    x = int(x)
    print ("int(x) =",x,type(x))
    print ("x+3 =",x+3)
    x = float(x)
    print ("float(x) =",x,type(x))
    print ("x+3 =",x+3)

if __name__ == "__main__":
    func_1_3_1()

Input x 10
x= 10
x= 10 <class 'str'>
x+3 = 103
int(x) = 10 <class 'int'>
x+3 = 13
float(x) = 10.0 <class 'float'>
x+3 = 13.0

In [ ]:
#Example 1-3-2

def func_1_3_2():
    'if ถ้ามาแบบนี้ แล้วจะไปแบบไหน'
    x=10; y=11

    if x==10:
        print ("Yes, x =",x)
    
    if y==10:
        print ("Yes, y =",y)
        
if __name__ == "__main__":
    func_1_3_2()

Yes, x = 10

In [ ]:
#Example 1-3-3

def func_1_3_3():
    'สร้างเกมทายตัวเลข'

    x=input("Input x (guess 1-10) ")

    if x=="10":
        print ("Yes, you win x=10!!!")
    else:
        print ("Nooo, try again (try 10)")
        
if __name__ == "__main__":
    func_1_3_3()

Input x (guess 1-10) ถ
Nooo, try again (try 10)

In [ ]:
#Example 1-3-4

def func_1_3_4():
    'พัฒนาเกมทายตัวเลข'

    x=input("Input x (guess 1-10) ")

    if x=="10":
        print ("Yes, you win x=10!!!")
    elif x=="9":
        print ("Too low, try again (try 11)")
    elif x=="11":
        print ("Too high, try again (try 10)")
    else:
        print ("Nooo, try again (try 11)")
        
if __name__ == "__main__":
    func_1_3_4()

Input x (guess 1-10) 10
Yes, you win x=10!!!

In [ ]:
#Example 1-3-5

def func_1_3_5():
    'while ทำงานเป็นวงรอบ ตราบที่ยังเป็นจริง'

    x=0
    while x!=10:
        x = input ("Input x ")
        x = int(x)

        if x==10:
            print ("Yes, you win x=10!!!")
        elif x>10:
            print ("Too high, try again.")
        elif x<10:
            print ("Too low, try again.")
    
    print ("END GAME!!!")

if __name__ == "__main__":
    func_1_3_5()

Input x 5
Too low, try again.
Input x 10
Yes, you win x=10!!!
END GAME!!!

In [ ]:
#Example 1-3-6

import random

def func_1_3_6():
    'การสร้างตัวเลขสุ่ม คำสั่ง random.seed() จะใช้ค่าตั้งต้นจากนาฬิกาของระบบ'

    random.seed()
    x = random.randint(1,10)
    print (x)

if __name__ == "__main__":
    func_1_3_6()

8

In [ ]:
#Example 1-3-7

import random

def func_1_3_7():
    'นำ random ไปทำเป็นเกมทายตัวเลข'

    x=0
    random.seed()
    y=random.randint(1,10)

    while x!=y:
        x = int(input("Input x (1-10)"))
        if x==y:
            print ("Yes, you win x=",y,"!!!")
        elif x>y:
            print ("Too high, try again.")
        elif x<y:
            print ("Too low, try again.")
    
    print ("END GAME!!!")

if __name__ == "__main__":
    func_1_3_7()

Input x (1-10)5
Too high, try again.
Input x (1-10)10
Too high, try again.
Input x (1-10)3
Too low, try again.
Input x (1-10)4
Yes, you win x= 4 !!!
END GAME!!!

In [ ]:
#Example 1-4-1

def func_1_4_1():
    'การทำงานเป็นวงรอบด้วยคำสั่ง for'

    for i in range(10):
        print (i)
if __name__ == "__main__":
    func_1_4_1()

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Example 1-4-2

def func_1_4_2():
    'กำหนดค่าใน range() สำหรับคำสั่ง for'

    for i in range(2,10):
        print (i,i+1)
if __name__ == "__main__":
    func_1_4_2()

2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
#Example 1-4-3

def func_1_4_3():
    'กำหนดค่าใน range ให้ข้ามทีละ 2'

    for i in range(1,20,2):
        print (i)
        if i>10:
            break
if __name__ == "__main__":
    func_1_4_3()

1
3
5
7
9
11

In [ ]:
#Example 1-4-4

def func_1_4_4():
    'ตรวจสอบเงื่อนไขของวงรอบในคำสั่ง while'
    y = 2
    
    while y<10000:
        print ("y=",y)
        y*=2

if __name__ == "__main__":
    func_1_4_4()

y= 2
y= 4
y= 8
y= 16
y= 32
y= 64
y= 128
y= 256
y= 512
y= 1024
y= 2048
y= 4096
y= 8192

In [ ]:
#Example 1-4-5

def func_1_4_5():
    'while True วงรอบอนันต์ ทำงานไปเรื่อยๆ จนกว่าจะเจอ break'

    while True:
        x = input ("Input 1-10 (10 to Break) ")
        if x=="10":
            print ("END LOOP!!!")
            break
        else:
            print ("x =",x)
if __name__ == "__main__":
    func_1_4_5()

Input 1-10 (10 to Break) 10
END LOOP!!!

In [ ]:
#Example 1-5-1

def func_1_5_1():
    'ตัวแปรชนิด list'
    
    a = [9,2,5,3,8,7]
    b = ["abc",2,3,False]

    print ("a =",a)
    print ("b =",b)
    print ("type of a =",type(a))
    print ("type of b =",type(b))
    print ("a+b =",a+b)

if __name__ == "__main__":
    func_1_5_1()

a = [9, 2, 5, 3, 8, 7]
b = ['abc', 2, 3, False]
type of a = <class 'list'>
type of b = <class 'list'>
a+b = [9, 2, 5, 3, 8, 7, 'abc', 2, 3, False]

In [ ]:
#Example 1-5-2

def func_1_5_2():
    'การเรียกข้อมูลใน list'
    
    a = [9,2,5,3,8,7]
    b = ["abc",2,3,False]
    c = "HELLO"

    print ("a[1] =",a[1])
    print ("b[0] =",b[0])
    print ("a[-2] =",a[-2])
    print ("a[1:4]",a[1:4])
    print ("c[2] =",c[2])
    print ("c[2:] =",c[2:])

if __name__ == "__main__":
    func_1_5_2()

a[1] = 2
b[0] = abc
a[-2] = 8
a[1:4] [2, 5, 3]
c[2] = L
c[2:] = LLO

In [ ]:
#Example 1-5-3

def func_1_5_3():
    'list a[start:end] not include end'
    
    a = [9,2,5,3,8,7]
    print ('a =',a)
    a[0] = 7
    a[2] =['a','Hello',9+2]
    print ('a =',a)
    a[1:4] = 1,3
    print ('a =',a)

if __name__ == "__main__":
    func_1_5_3()

a = [9, 2, 5, 3, 8, 7]
a = [7, 2, ['a', 'Hello', 11], 3, 8, 7]
a = [7, 1, 3, 8, 7]

In [ ]:
#Example 1-5-4

def func_1_5_4():
    'list ซ้อน list'
    
    a = [[3,4,5], 
        [6,7,8], 
        ['a','b','hello']]

    print (a)
    print (a[1])
    print (a[2][1])
    print (a[2][2][2])

if __name__ == "__main__":
    func_1_5_4()

[[3, 4, 5], [6, 7, 8], ['a', 'b', 'hello']]
[6, 7, 8]
b
l

In [ ]:
#Example 1-5-5

def func_1_5_5():
    'การเพิ่มข้อมูลเข้าใน list'
    
    a =[]

    print ("1. a =",a)
    a.append("hello")
    print ("2. a =",a)
    a.append("world")
    print ("3. a =",a)
    a.extend(["!",9,9])
    print ("4. a =",a)
    a.insert (2,"สวัสดี")
    print ("5. a =",a)
    print ("6. find position of '!'=",a.index('!'))
    a.append([0,0,1])
    print ("7. a =",a)

if __name__ == "__main__":
    func_1_5_5()

1. a = []
2. a = ['hello']
3. a = ['hello', 'world']
4. a = ['hello', 'world', '!', 9, 9]
5. a = ['hello', 'world', 'สวัสดี', '!', 9, 9]
6. find position of '!'= 3
7. a = ['hello', 'world', 'สวัสดี', '!', 9, 9, [0, 0, 1]]

In [ ]:
#Example 1-5-6

def func_1_5_6():
    'ลบข้อมูลออกจาก list'

    a = [1,2,3,4,5,6,3,4,3,6]
    b = "HELLO"

    print ("a =",a)
    print ("count 3 in a =",a.count(3))
    print ("count L in b =",b.count("L"))
    a.remove(3)
    print ("a =",a)
    a.remove(3)
    print ("a =",a)
    del a[0]
    print ("a =",a)

if __name__ == "__main__":
    func_1_5_6()

a = [1, 2, 3, 4, 5, 6, 3, 4, 3, 6]
count 3 in a = 3
count L in b = 2
a = [1, 2, 4, 5, 6, 3, 4, 3, 6]
a = [1, 2, 4, 5, 6, 4, 3, 6]
a = [2, 4, 5, 6, 4, 3, 6]

In [ ]:
#Example 1-5-7

def func_1_5_7():
    'เรียงข้อมูลใน list ด้วย sort และ reverse'

    a = [2,3,6,1,4,8,1,5,3]
    b = a
    
    print ("a =",a)
    print ("b =",b)
    a.sort()
    print ("a =",a)
    print ("b =",b)
    b.reverse()
    print ("a =",a)
    print ("b =",b)



if __name__ == "__main__":
    func_1_5_7()

a = [2, 3, 6, 1, 4, 8, 1, 5, 3]
b = [2, 3, 6, 1, 4, 8, 1, 5, 3]
a = [1, 1, 2, 3, 3, 4, 5, 6, 8]
b = [1, 1, 2, 3, 3, 4, 5, 6, 8]
a = [8, 6, 5, 4, 3, 3, 2, 1, 1]
b = [8, 6, 5, 4, 3, 3, 2, 1, 1]

In [ ]:
#Example 1-5-8

def func_1_5_8():
    'การ copy list'
    
    a = [1,3,5,7,9]
    b = a
    c = a[:]
    
    print ("a =",a)
    print ("b =",b)
    print ("c =",c,"\n")
    a[2] = 11
    print ("a =",a)
    print ("b =",b)
    print ("c =",c,"\n")
    b.append(13)
    print ("a =",a)
    print ("b =",b)
    print ("c =",c)

if __name__ == "__main__":
    func_1_5_8()

a = [1, 3, 5, 7, 9]
b = [1, 3, 5, 7, 9]
c = [1, 3, 5, 7, 9]

a = [1, 3, 11, 7, 9]
b = [1, 3, 11, 7, 9]
c = [1, 3, 5, 7, 9]

a = [1, 3, 11, 7, 9, 13]
b = [1, 3, 11, 7, 9, 13]
c = [1, 3, 5, 7, 9]

In [ ]:
#Example 1-5-9

def func_1_5_9():
    'ตัวแปรชนิด tuple'
    
    a = (7,8,9)
    b = 3,4,5
    c = a+b
    
    print ("a= ",a)
    print ("type of a = ",type(a))
    print ("a[1] =",a[1])
    print ("b =",b)
    print ("type of b =",type(b))
    print ("c =",c)
    print ("type of c =",type(c))
    
if __name__ == "__main__":
    func_1_5_9()

a=  (7, 8, 9)
type of a =  <class 'tuple'>
a[1] = 8
b = (3, 4, 5)
type of b = <class 'tuple'>
c = (7, 8, 9, 3, 4, 5)
type of c = <class 'tuple'>

In [ ]:
#Example 1-6-1

def func_1_6_1():
    'การใช้คำสั่ง for กับ tuple'

    for i in (1,1,2,3,5,8,13):
        print (i)

if __name__ == "__main__":
    func_1_6_1()

1
1
2
3
5
8
13

In [ ]:
#Example 1-6-2

def func_1_6_2():
    'ใช้คำสั่ง for กับ list'

    for i in [1,1,2,3,5,8,13]:
        print (i)

if __name__ == "__main__":
    func_1_6_2()

1
1
2
3
5
8
13

In [ ]:
#Example 1-6-3

def func_1_6_3():
    'ใช้ for กับ tuple ที่มีข้อมูลต่างชนิด'

    for i in ("abc",True,2,(3,4,5),"def"): print (i)

if __name__ == "__main__":
    func_1_6_3()

abc
True
2
(3, 4, 5)
def

In [ ]:
#Example 1-6-4

def func_1_6_4():
    'ใช้ break เพื่อหยุดการทำงานของ for'

    for i in (1,3,5,7,8,9,10):
        print (i)
        if i==5:
            break
        else:
            pass
    print ("end at",i)
    
if __name__ == "__main__":
    func_1_6_4()

1
3
5
end at 5

In [ ]:
#Example 1-6-5

def func_1_6_5():
    'เพิ่มจำนวนรอบตั้งต้นของ for'

    x = [1,3,5,7,9]
    for i in x:
        print (i)
        if i==5:
            x.extend([10,11,12,13])
    print (x)

if __name__ == "__main__":
    func_1_6_5()

1
3
5
7
9
10
11
12
13
[1, 3, 5, 7, 9, 10, 11, 12, 13]

In [ ]:
#Example 1-6-6

def func_1_6_6():
    'การใช้ for กับตัวแปรชนิด string'

    for i in "Hello World!":
        print (i)
    
if __name__ == "__main__":
    func_1_6_6()

H
e
l
l
o

W
o
r
l
d
!

In [ ]:
#Example 1-6-7

def func_1_6_7():
    'การใช้ for กับ tuple ของ string'

    for i in ("Superman", "Batman", "Aquaman"):
        print ("Hello",i)

if __name__ == "__main__":
    func_1_6_7()

Hello Superman
Hello Batman
Hello Aquaman

In [ ]:
#Example 1-6-8

def func_1_6_8():
    'try กับ except เพื่อดักการเกิด error'

    x = [1,2,3,4]
    try:
        print (x[2])
    except:
        print ("Ha Ha Ha")
    finally:
        print ("Ho Ho Ho")
        
    try:
        print (x[5])
    except:
        print ("Error x is out of range")
    finally:
        print ("Ho Ho Ho")
    
if __name__ == "__main__":
    func_1_6_8()

3
Ho Ho Ho
Error x is out of range
Ho Ho Ho

In [ ]:
#Example 1-7-1

def func_1_7_1(x):
    'การส่งค่าเข้าไปในฟังก์ชัน'

    print("x =",x)
if __name__ == "__main__":
    func_1_7_1(10)
    func_1_7_1("hello")
    func_1_7_1("สวัสดี")
    func_1_7_1(3+4)
    func_1_7_1([3,4,5])
    func_1_7_1("")

x = 10
x = hello
x = สวัสดี
x = 7
x = [3, 4, 5]
x =

In [ ]:
#Example 1-7-2

def func_1_7_2(x,y):
    'ส่งค่าเข้าไปในฟังก์ชันสองตัว'

    print("x =",x)
    print("y =",y)
    print()

if __name__ == "__main__":
    func_1_7_2(10,20)
    func_1_7_2(10,"hello")
    func_1_7_2([123],(10,20,30))
    a = 10; b = 20
    func_1_7_2(a,b)

x = 10
y = 20

x = 10
y = hello

x = [123]
y = (10, 20, 30)

x = 10
y = 20

In [ ]:
#Example 1-7-3

def func_1_7_3(x,y):
    'การเปลียนแปลงค่าตัวแปรในฟังก์ชันไม่ส่งผลต่อตัวแปรนอกฟังก์ชัน'

    x+=1
    y+=2
    print("func: x=",x," y=",y)

if __name__ == "__main__":
    x=10; y=20
    print("x=",x," y=",y)    
    func_1_7_3(x,y)
    print("x=",x," y=",y)

x= 10  y= 20
func: x= 11  y= 22
x= 10  y= 20

In [ ]:
#Example 1-7-4

def func_1_7_4(x):
    'การส่งค่าตัวแปร list เข้าไปในฟังก์ชัน'

    x[0] +=10
    print ("Now x=",x)

if __name__ == "__main__":
    x=[10]
    print ("x=",x)
    func_1_7_4(x)
    print ("x=",x)
    func_1_7_4(x)

x= [10]
Now x= [20]
x= [20]
Now x= [30]

In [ ]:
#Example 1-7-5

def func_1_7_5(x=10,y=20):
    'การกำหนดค่าเริ่มต้นให้กับตัวแปร parameter ของฟังก์ชัน'

    print(x,y)

if __name__ == "__main__":
    func_1_7_5()
    func_1_7_5(100)
    func_1_7_5(y=100)
    func_1_7_5(y="hello",x=100)

10 20
100 20
10 100
100 hello

In [ ]:
#Example 1-7-6

def func_1_7_6(x):
    'คืนค่าออกจากฟังก์ชันด้วย return'

    x+=10
    return(x)

if __name__ == "__main__":
    y=0
    y=func_1_7_6(10)
    print(y)
    print (func_1_7_6(20))

20
30

In [ ]:
#Example 1-7-7

def func_1_7_7(x,y,z):
    'return ค่าหลายๆ ตัวเป็น tuple'
    
    return(x,y,z)

if __name__ == "__main__":
    print(func_1_7_7(1,10,20))
    print(func_1_7_7((1,2),[3,4],"hello"))

(1, 10, 20)
((1, 2), [3, 4], 'hello')

In [ ]:
#Example 1-7-8

def func_1_7_8(x,y):
    'ฟัง์ชันหนึ่ง มี return จากหลายจุดได้'

    if x>y:
        return x
    elif x<y:
        return y
    else:
        return "x=y!!"

if __name__ == "__main__":
    print(func_1_7_8(10,20))
    print(func_1_7_8(9,1))
    print(func_1_7_8(100,100))

20
9
x=y!!

In [ ]:
#Example 1-8-1

def func_1_8_1():
    'ตัวแปรชนิด dictionary'
    
    x={ 'a': 'Hello',
        'b': 'World',
        'c': '!!!'
        }

    print (x)
    print (type(x))

if __name__ == "__main__":
    func_1_8_1()

{'a': 'Hello', 'b': 'World', 'c': '!!!'}
<class 'dict'>

In [ ]:
#Example 1-8-2

def func_1_8_2():
    'การลบและเพิ่มข้อมูลใน dictionary'
    
    x={ 'Jo': '123 Bangkok',
        'Mo': '456 Nonthaburi',
        'Yo': '789 Chiangmai'
        }

    for name,address in x.items():
        print (name,address)
        
    del x['Jo']
    print ('\n--- Delete Key Jo ---\n')

    for name,address in x.items():
        print (name,address)

    x['Go'] = '200 Chiangrai'
    x['Do'] = '321 Lumpoon'
    print ('\n--- Add Key Go and Do ---\n')

    for name,address in x.items():
        print (name,address)

if __name__ == "__main__":
    func_1_8_2()

Jo 123 Bangkok
Mo 456 Nonthaburi
Yo 789 Chiangmai

--- Delete Key Jo ---

Mo 456 Nonthaburi
Yo 789 Chiangmai

--- Add Key Go and Do ---

Mo 456 Nonthaburi
Yo 789 Chiangmai
Go 200 Chiangrai
Do 321 Lumpoon

In [ ]:
#Example 1-8-3

def func_1_8_3():
    'การอ่านและนับค่าใน dictionary'

    x={}

    x['A'] = 'Ada'
    x['B'] = 'Basic'
    x['C'] = 'Cobol'

    for first, second in x.items():
        print (first,second)
        
    print ("***************")
    if 'A' in x:
        print ("A for",x['A'])
            
    print ("***************")
    print(x)
    print (x.items())
    print ("number of item in x=",len(x.items()))

if __name__ == "__main__":
    func_1_8_3()

A Ada
B Basic
C Cobol
***************
A for Ada
***************
{'A': 'Ada', 'B': 'Basic', 'C': 'Cobol'}
dict_items([('A', 'Ada'), ('B', 'Basic'), ('C', 'Cobol')])
number of item in x= 3

In [ ]:
#Example 1-8-4

def func_1_8_4():
    'เซ็ต'

    x = set((3,5,7,8,3,8,3))
    y = x.copy()
    
    print ("1)",x,y)
    x.add(22)
    print ("2)",x,y)
    y.add(3)
    print ("3)",x,y)
    x.remove(3)
    print ("4)",x,y)

if __name__ == "__main__":
    func_1_8_4()

1) {8, 3, 5, 7} {8, 3, 5, 7}
2) {3, 5, 7, 8, 22} {8, 3, 5, 7}
3) {3, 5, 7, 8, 22} {8, 3, 5, 7}
4) {5, 7, 8, 22} {8, 3, 5, 7}

In [ ]:
#Example 1-8-5

def func_1_8_5():
    'ตัวดำเนินการอินเตอร์เซ็คชั่น และยูเนี่ยน สำหรับเซ็ต'

    x = set([5, 7, 8, 22])
    y = set([8, 3, 5, 7])
    print (x,y)
    print ("**************************")
    print (x.intersection(y))
    print (x & y)

    print (x.union(y))    
    print (x | y)

if __name__ == "__main__":
    func_1_8_5()

{8, 5, 22, 7} {8, 3, 5, 7}
**************************
{8, 5, 7}
{8, 5, 7}
{3, 5, 7, 8, 22}
{3, 5, 7, 8, 22}

In [ ]:
#Example 1-8-6

def func_1_8_6():
    'ตัวดำเนินการตรวจสอบการเป็นซับเซ็ตหรือซูเปอร์เซ็ต'

    x= set([3,5,7,9])
    y= set([1,3,5,7,9,11])

    print ("y is superset of x is",y.issuperset(x))
    print ("x is subset of y is",x.issubset(y))
    print ("set(3,7) is subset of y is",set((3,7)).issubset(y))
    if x < y: print ("x<y is",x<y)

if __name__ == "__main__":
    func_1_8_6()

y is superset of x is True
x is subset of y is True
set(3,7) is subset of y is True
x<y is True

In [ ]:
#Example 1-9-1

class Cat:
    'Class name Cat'

    def say(self):
        'Method name say'
        print ("Meow")

if __name__ == "__main__":
    tom = Cat()
    tom.say()
    print ("*****************")
    print ("Type of tom is",type(tom))
    print ("Type of tom.say is",type(tom.say))
    print ("Class's doc is",tom.__doc__)
    print ("Method's doc is",tom.say.__doc__)

Meow
*****************
Type of tom is <class '__main__.Cat'>
Type of tom.say is <class 'method'>
Class's doc is Class name Cat
Method's doc is Method name say

In [ ]:
#Example 1-9-2

class Cat:
    'Initializer หรือ Constructor'

    def __init__(self):
        print ("Aow")
        
    def say(self):
        print ("Meow")

if __name__ == "__main__":
    tom = Cat()
    tom.say()
    tom.say()
    print()

    Cat()
    print()

    Cat().say()

Aow
Meow
Meow

Aow

Aow
Meow

In [ ]:
#Example 1-9-3

class Cat:
    'คืนค่า string ออกมาจาก object'
    
    def __init__(self):
        print ("Aow")
    def say(self):
        print ("Meow")
    def __str__(self):
        return ("I am a Cat")
 
if __name__ == "__main__":
    tom = Cat()
    tom.say()
    print (tom)

Aow
Meow
I am a Cat

In [ ]:
#Example 1-9-4

class Cat:
    'destructor'
    
    def __init__(self):
        print ("Aow")
    def say(self):
        print ("Meow")
    def __str__(self):
        return ("I am a Cat")
    def __del__(self):
        print ("I am killed")
 
if __name__ == "__main__":
    tom = Cat()
    tom.say()
    del tom

Aow
Meow
I am killed

In [ ]:
#Example 1-9-5

class Cat:
    '1 object, 2 instances'

    def __init__(self):
        print ("Aow")
    def say(self):
        print ("Meow")
    def __str__(self):
        return ("I am a Cat")
    def __del__(self):
        print ("AAAAAAHHH")
 
if __name__ == "__main__":
    tom = Cat()
    garfield = tom
    print ("--Object Created--")

    tom.say()
    garfield.say()

    print ("---Kill tom---")
    del tom

    #tom.say()
    garfield.say()

    print ("---Kill garfield---")
    del garfield

Aow
--Object Created--
Meow
Meow
---Kill tom---
Meow
---Kill garfield---
AAAAAAHHH

In [ ]:
#Example 1-9-6

class Cat:
    '2 objects, 2 instances'

    def __init__(self):
        print ("Aow")
    def say(self):
        print ("Meow")
    def __str__(self):
        return ("I am a Cat")
    def __del__(self):
        print ("AAAAAAHHH")
 
if __name__ == "__main__":
    tom = Cat()
    garfield = Cat()

    tom.say()
    garfield.say()

    print ("---Kill tom---")
    del tom

    #tom.say()
    garfield.say()

    print ("---Kill garfield---")
    del garfield

Aow
Aow
Meow
Meow
---Kill tom---
AAAAAAHHH
Meow
---Kill garfield---
AAAAAAHHH

In [ ]:
#Example 1-9-7

class Cat:
    'parameter และ attribute'

    def __init__(self,n,c):
        self.name = n
        self.color = c
    def say(self):
        print ("My name is",self.name)
 
if __name__ == "__main__":
    tom = Cat("tom","B&W")
    tom.say()
    print (tom.color)
    tom.name = "TOM"
    tom.color = "Black & White"
    tom.say()
    print (tom.name,"is",tom.color)

My name is tom
B&W
My name is TOM
TOM is Black & White

In [ ]:
#Example 1-9-8
 
class Animal:
    'กำหนดค่าตั้งต้นสำหรับพารามิเตอร์ของคลาส'

    def __init__(self,common_name='Cat'):
        self.common_name = common_name
    def say(self):
        print ("I am",self.common_name)

if __name__ == "__main__":
    tom = Animal()
    tom.say()
    tweety = Animal("Bird")
    tweety.say()

I am Cat
I am Bird

In [ ]:
#Example 1-9-9

'inheritance'
 
class Animal:
    def __init__(self,common_name='cat'):
        self.common_name = common_name
    def say(self,say='...'):
        print ("I am",self.common_name,say)

class Bird(Animal):
    def __init__(self):
        self.common_name = 'bird'
    def sing(self):
        print ("tweet tweet tweety")

if __name__ == "__main__":
    tom = Animal()
    tom.say()
    tom.say("Meow")
    print ("************")

    tweety = Bird()
    tweety.say()
    tweety.say("Tweet")
    tweety.sing()

I am cat ...
I am cat Meow
************
I am bird ...
I am bird Tweet
tweet tweet tweety

In [ ]:
#Example 1-9-10

'method overriding'
class Animal:
    def __init__(self,common_name='animal'):
        self.common_name = common_name
    def say(self,words='...'):
        print ("I am",self.common_name,words)

class Bird(Animal):
    def __init__(self):
        self.common_name = 'bird'
    def sing(self):
        print ("tweet tweet tweety")

class Cat(Animal):
    def __init__(self):
        self.common_name = 'cat'
    def say(self):
        print ("Meow")

if __name__ == "__main__":
    tom = Animal()
    tom.say()
    tom.say("ha ha ha")
    print ("************\n")

    tweety = Bird()
    tweety.say()
    tweety.sing()
    print ("************\n")

    garfield = Cat()
    garfield.say()
    print (garfield.common_name)

I am animal ...
I am animal ha ha ha
************

I am bird ...
tweet tweet tweety
************

Meow
cat

In [ ]:
#Example 1-9-11

'multiple inheritance'
class Animal:
    def __init__(self,common_name='animal'):   
        self.common_name = common_name
    def say (self,words='...'):
        print ("I am",self.common_name,words)

class Action:
    def walk(self):
        print ("walk")
    def run(self):
        print ("run")

class Cat(Animal,Action):
    def run(self):
        print ("run run run")
    def dance(self):
        self.walk()
        self.run()
        self.walk()


if __name__ == "__main__":
    tom = Cat()
    print (tom.common_name)
    tom.dance()
    print ("************\n")
    tom.say("ha ha ha")
    tom.walk()
    tom.run()

animal
walk
run run run
walk
************

I am animal ha ha ha
walk
run run run

In [ ]:
#Example 1-9-12

'intention no description'
 
class Animal:
    name = 'no name'
    action = 'no action'
    common_name = 'no common name'
    
    def say(self):
        print ("I am",self.name,",",self.action)
    def animal_say(self):
        print ("Animal say",Animal.name,",",Animal.action)


if __name__ == "__main__":
    print ("1)")  
    tom = Animal()
    print (tom.name,tom.action)
    print (Animal.name,Animal.action)
    tom.say()
    tom.animal_say()
    print ("************\n")

    print ("2)")  
    tom.name = "Tom"
    tom.action = "running"
    print (tom.name,tom.action)
    print (Animal.name,Animal.action)
    tom.say()
    tom.animal_say()
    print ("************\n")

    print ("3)")  
    Animal.name = "..."
    Animal.action = "..."
    jerry = Animal()
    tom.say()
    jerry.say()
    print (Animal.name,Animal.action)
    print ("************\n")

    print ("4)")  
    tom.animal_say()
    jerry.animal_say()

1)
no name no action
no name no action
I am no name , no action
Animal say no name , no action
************

2)
Tom running
no name no action
I am Tom , running
Animal say no name , no action
************

3)
I am Tom , running
I am ... , ...
... ...
************

4)
Animal say ... , ...
Animal say ... , ...

In [ ]:
#Example 1-9-13

'Program Document'
class Animal():
    'Class Animal'
    def say(self):
        'Method Say'
        print ("hi")

if __name__ == "__main__":
    tom = Animal()
    tom.say()
    print ("************\n")
    
    print(__doc__)
    print (Animal.__doc__)
    print (Animal.say.__doc__)
    print (__name__)
    print (Animal.__name__)
    print (Animal.say.__name__)

hi
************

Program Document
Class Animal
Method Say
__main__
Animal
say

In [ ]:
#Example 1-10-1

def func_1_10_1():
    'สร้าง และเขียนข้อมูลลงในไฟล์ ถ้ามีไฟล์ชื่อเดิมอยู่จะสร้างใหม่ทับไป'
    try:
        with open("test.txt","w") as f:
            f.write ("hello, world!")
            f.write ("123 456 789\n")
            print ("HELLO", file=f)
            print ("WORLD", file=f)
        print ("File Created!!!")
    except:
        print ("Cannot open file!!!")

if __name__ == "__main__":
    func_1_10_1()

File Created!!!

In [ ]:
#Example 1-10-2

def func_1_10_2():
    'เปิดไฟล์ และเขียนข้อมูลเพิ่ม ถ้าไม่มีไฟล์เดิม จะสร้างใหม่ให้'
    try:
        with open("test.txt","a") as f:
            f.write ("Append")
            f.write ("!!!\n")
            print ("HELLO", file=f)
            print ("AGAIN", file=f)
        print ("File Appended!!!")
    except:
        print ("Cannot open file")

if __name__ == "__main__":
    func_1_10_2()

File Appended!!!

In [ ]:
#Example 1-10-3

def func_1_10_3():
    'อ่านไฟล์'
    try:
        with open("test.txt","r") as f:
            a = f.readline()
            print (a)
            print (f.readlines())
            print ("***Current file position is",f.tell())
            f.seek(0)
            print ("***Set current file position to",f.tell())
            print (f.readlines())
            f.seek(3)
            print ("***Set current file position to",f.tell())
            print (f.readline())
            print ("***Current file position is",f.tell())
        print ("File Read!!!")
    except:
        print ("Cannot open file")

if __name__ == "__main__":
    func_1_10_3()

hello, world!123 456 789

['HELLO\n', 'WORLD\n', 'Append!!!\n', 'HELLO\n', 'AGAIN\n']
***Current file position is 59
***Set current file position to 0
['hello, world!123 456 789\n', 'HELLO\n', 'WORLD\n', 'Append!!!\n', 'HELLO\n', 'AGAIN\n']
***Set current file position to 3
lo, world!123 456 789

***Current file position is 25
File Read!!!

In [ ]:
#Example 1-10-4

def func_1_10_4():
    'เขียนภาษาไทยลงในไฟล์'
    try:
        with open("test.txt",mode="r+",encoding="utf-8") as f:
            f.writelines("สวัสดี")
            print ("ชาวโลก",file=f)
            print ("***Current file position is",f.tell())
            f.seek(0)
            print ("***Set file position to",f.tell())
            print (f.readlines())
        print ("File Opened!!!")
    except:
        print ("Cannot open file")

if __name__ == "__main__":
    func_1_10_4()

***Current file position is 37
***Set file position to 0
['สวัสดีชาวโลก\n', 'Append!!!\n', 'HELLO\n', 'AGAIN\n']
File Opened!!!

In [1]:
#Example 2-1-1

def hello():
    'ป้อนเลข 1-7 แล้วพิมพ์ค่าออกมาตามเงื่อนไข'
    
    loop = True
    
    while loop:
        x = input("ป้อนเลข 1-7 (ป้อน 0 เพื่อออกจากโปรแกรม) :")
        if x=="1":
            print ("สวัสดีวันอาทิตย์์")
        elif x=="2":
            print ("สวัสดีวันจันทร์")
        elif x=="3":
            print ("สวัสดีวันอังคาร")
        elif x=="4":
            print ("สวัสดีวันพุธ")
        elif x=="5":
            print ("สวัสดีวันพฤหัสบดี")
        elif x=="6":
            print ("สวัสดีวันศุกร์")
        elif x=="7":
            print ("สวัสดีวันเสาร์")
        elif x=="0":
            print ("ลาก่อน")
            loop = False
            
if __name__=='__main__':
    hello()

ป้อนเลข 1-7 (ป้อน 0 เพื่อออกจากโปรแกรม) :7
สวัสดีวันเสาร์
ป้อนเลข 1-7 (ป้อน 0 เพื่อออกจากโปรแกรม) :0
ลาก่อน

In [2]:
#Example 2-1-2

def hello():
    'ป้อนเลข 1-7 แล้วพิมพ์ค่าออกมาตามเงื่อนไข'
    
    word = {
        "1":"สวัสดีวันอาทิตย์",
        "2":"สวัสดีวันจันทร์์",
        "3":"สวัสดีวันอังคาร",
        "4":"สวัสดีวันพุธ",
        "5":"สวัสดีวันพฤหัสบดี",
        "6":"สวัสดีวันศุกร์",
        "7":"สวัสดีวันเสาร์",
        "0":"ลาก่อน" }
        
    loop = True
    while loop:
        x = input("ป้อนเลข 1-7 (ป้อน 0 เพื่อออกจากโปรแกรม) :")
        if x == "0":
            print (word["0"])
            loop = False
        elif x in word:
            print (word[x])

if __name__=='__main__':
    hello()

ป้อนเลข 1-7 (ป้อน 0 เพื่อออกจากโปรแกรม) :5
สวัสดีวันพฤหัสบดี
ป้อนเลข 1-7 (ป้อน 0 เพื่อออกจากโปรแกรม) :0
ลาก่อน

In [3]:
#Example 2-2-1

def draw_triangle():
    'ใช้ * วาดเป็นสามเหลี่ยม'

    print ("*")
    print ("**")
    print ("***")
    print ("****")
    print ("*****")
    print ("******")
    print ("*******")
    print ("********")
    print ("*********")
    print ("**********")
    
if __name__=='__main__':
    draw_triangle()

*
**
***
****
*****
******
*******
********
*********
**********

In [4]:
#Example 2-2-2

def draw_triangle(max=10):
    'ใช้ * วาดเป็นสามเหลี่ยม โดยใช้ loop'

    for i in range (max):
        counter = i+1
        star = "*" * counter
        print (star)
    
if __name__=='__main__':
    draw_triangle()

*
**
***
****
*****
******
*******
********
*********
**********

In [5]:
#Example 2-2-3

def draw_upside_triangle(max=10):
    'ใช้ * วาดเป็นสามเหลี่ยมกลับหัว'

    for i in range(max,0,-1):
        counter = i
        star = "*" * counter
        print (star)
        
if __name__=='__main__':
    draw_upside_triangle()

**********
*********
********
*******
******
*****
****
***
**
*

In [6]:
#Example 2-2-4

def draw_mirror_triangle(max=10):
    'ใช้ * วาดเป็นสามเหลี่ยมกลับด้าน'

    for i in range (max,0,-1):
        counter = i-1
        space = " " * counter
        star = "*" * (max-counter)
        print (space+star)
        
if __name__=='__main__':
    draw_mirror_triangle()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [7]:
#Example 2-2-5

def draw_mirror_upside_triangle(max=10):
    'ใช้ * วาดเป็นสามเหลี่ยมกลับด้านและกลับหัว'

    for i in range (0,max):
        counter = i
        space = " " * counter
        star = "*" * (max-counter)
        print (space+star)
        
if __name__=='__main__':
    draw_mirror_upside_triangle()

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [8]:
#Example 2-2-6

def draw_diamond(max=10):
    'ใช้ * วาดเป็นรูปเพชร'

    for i in range (max):
        counter = i+1
        space = " " * (max-counter)
        star = "*" * counter + "*" * (counter-1)
        print (space+star)

    for i in range (max,1,-1):
        counter = i-1
        space = " " * (max-counter)
        star = "*" * counter + "*" * (counter-1)
        print (space+star)
        
if __name__=='__main__':
    draw_diamond()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [9]:
#Example 2-2-7

def print_line(counter,max):
    'แสดงผล * แต่ละแถว'

    space = " " * (max-counter)
    star = "*" * counter + "*" * (counter-1)
    print (space+star)

def draw_diamond2(max=10):
    'ใช้ * วาดเป็นรูปเพชร'

    for i in range (max):
        counter = i+1
        print_line(counter,max)

    for i in range (max,1,-1):
        counter = i-1
        print_line(counter,max)

if __name__=='__main__':
    draw_diamond2()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************
 *****************
  ***************
   *************
    ***********
     *********
      *******
       *****
        ***
         *

In [11]:
#Example 2-3-1

def sum_to_n(n):
    'หาผลบวกของ 1+2+3+...+n ด้วยคำสั่ง for loop'
    x=0
    n=n+1
    for i in range(1,n):
        x+=i
    return x

if __name__ == "__main__":
    print (sum_to_n.__doc__)
    print ("n=5 ผลบวก=",sum_to_n(5))
    print ("n=10 ผลบวก=",sum_to_n(10))
    print ("n=2 ผลบวก=",sum_to_n(2))
    print ("n=100 ผลบวก=",sum_to_n(100))

หาผลบวกของ 1+2+3+...+n ด้วยคำสั่ง for loop
n=5 ผลบวก= 15
n=10 ผลบวก= 55
n=2 ผลบวก= 3
n=100 ผลบวก= 5050

In [12]:
#Example 2-3-2

def sum_to_n2(n):
    'หาผลบวกของ 1+2+3+...+n จากสูตร n*(n+1)/2'
    return n*(n+1)/2

if __name__ == "__main__":
    print (sum_to_n2.__doc__)
    print ("n=5 ผลบวก=",sum_to_n2(5))
    print ("n=10 ผลบวก=",sum_to_n2(10))
    print ("n=2 ผลบวก=",sum_to_n2(2))
    print ("n=100 ผลบวก=",sum_to_n2(100))

หาผลบวกของ 1+2+3+...+n จากสูตร n*(n+1)/2
n=5 ผลบวก= 15.0
n=10 ผลบวก= 55.0
n=2 ผลบวก= 3.0
n=100 ผลบวก= 5050.0

In [13]:
#Example 2-3-3

def sum_to_n3(n):return n*(n+1)/2 
'หาผลบวกของ 1+2+3+...+n จากสูตร n*(n+1)/2 ในหนึ่งบรรทัด'

if __name__ == "__main__":
    print("หาผลบวก 1-n จากสูตร n*(n+1)/2 ในหนึ่งบรรทัด")
    print ("n=5 ผลบวก=",sum_to_n3(5))
    print ("n=10 ผลบวก=",sum_to_n3(10))
    print ("n=2 ผลบวก=",sum_to_n3(2))
    print ("n=100 ผลบวก=",sum_to_n3(100))
    print (sum_to_n3.__doc__)

หาผลบวก 1-n จากสูตร n*(n+1)/2 ในหนึ่งบรรทัด
n=5 ผลบวก= 15.0
n=10 ผลบวก= 55.0
n=2 ผลบวก= 3.0
n=100 ผลบวก= 5050.0
None

In [14]:
#Example 2-3-4
'ใช้ lambda function หาผลบวกของ 1+2+3+...+n'

if __name__ == "__main__":
    sum_to_n4=lambda n:n*(n+1)/2
    
    print (__doc__)
    print ("n=5 ผลบวก=",sum_to_n4(5))
    print ("n=10 ผลบวก=",sum_to_n4(10))
    print ("n=2 ผลบวก=",sum_to_n4(2))
    print ("n=100 ผลบวก=",sum_to_n4(100))
    print (type(sum_to_n4))

ใช้ lambda function หาผลบวกของ 1+2+3+...+n
n=5 ผลบวก= 15.0
n=10 ผลบวก= 55.0
n=2 ผลบวก= 3.0
n=100 ผลบวก= 5050.0
<class 'function'>

In [15]:
#Example 2-4-1

def compound_interest(deposit,interest,n):
    'หาผลรวมเงินต้นกับดอกเบี้ยทบต้น n รอบ'

    amount = []
    for i in range(n):
        deposit+=deposit*interest
        amount.append(deposit)
    return amount

if __name__ == "__main__":
    print (compound_interest(100,0.01,10))
    print ("\n")
    print (*compound_interest(100,0.01,10))
    print ("\n")
    print (*compound_interest(100,0.01,10),sep="\n")
    print ("\n")
    print ("เงินต้น 100 เพิ่มวันละ 1% เป็นเวลา 1ปี =")
    print (round(compound_interest(100,0.01,365)[-1],2))
    print ("เงินต้น 100 บาท ลดวันละ 1% เป็นเวลา 1ปี =") 
    print (round(compound_interest(100,-0.01,365)[-1],2))

[101.0, 102.01, 103.0301, 104.060401, 105.10100501, 106.1520150601, 107.213535210701, 108.28567056280801, 109.36852726843608, 110.46221254112044]


101.0 102.01 103.0301 104.060401 105.10100501 106.1520150601 107.213535210701 108.28567056280801 109.36852726843608 110.46221254112044


101.0
102.01
103.0301
104.060401
105.10100501
106.1520150601
107.213535210701
108.28567056280801
109.36852726843608
110.46221254112044


เงินต้น 100 เพิ่มวันละ 1% เป็นเวลา 1ปี =
3778.34
เงินต้น 100 บาท ลดวันละ 1% เป็นเวลา 1ปี =
2.55

In [16]:
#Example 2-4-2

def compound_int1(deposit,interest,n):
    'หาผลรวมเงินต้นกับดอกเบี้ยทบต้น n รอบ'
    for i in range(n):
        deposit+=deposit*interest
    return round(deposit,3)

def compound_int2(deposit,interest,n):
    'หาผลรวมเงินต้นกับดอกเบี้ยทบต้นจากสูตร PV*(1+i)**n'
    return round(deposit *(1+interest)**n,3)

if __name__ == "__main__":
    print ("เงินต้น 100 บาท เพิ่มวันละ 1% เป็นเวลา 1ปี")
    print ("คำนวณด้วย loop =",compound_int1(100,0.01,365))
    print ("คำนวณด้วยสูตร=",compound_int2(100,0.01,365))
    print("\n")
    print ("เงินต้น 100 บาท ลดวันละ 1% เป็นเวลา 1ปี")
    
    print ("คำนวณด้วย loop=",compound_int1(100,-0.01,365))
    print ("คำนวณด้วยสูตร=",compound_int2(100,-0.01,365))
    
    compound_int3=lambda deposit,interest,n: \
    round(deposit*(1+interest)**n,3)
    print ("ใช้ lambda function=",compound_int3(100,-0.01,365))

เงินต้น 100 บาท เพิ่มวันละ 1% เป็นเวลา 1ปี
คำนวณด้วย loop = 3778.343
คำนวณด้วยสูตร= 3778.343


เงินต้น 100 บาท ลดวันละ 1% เป็นเวลา 1ปี
คำนวณด้วย loop= 2.552
คำนวณด้วยสูตร= 2.552
ใช้ lambda function= 2.552

In [17]:
#Example 2-5-1

def factorial1(n):
    'หา factorial number'
    n = n+1
    ans=1
    for i in range(1,n):
        ans=ans*i
    return ans

if __name__ == "__main__":
    print ("3! =",factorial1(3))
    print ("5! =",factorial1(5))
    print ("1! =",factorial1(1))
    print ("0! =",factorial1(0))

3! = 6
5! = 120
1! = 1
0! = 1

In [18]:
#Example 2-5-2

def factorial2(n):
    'หา factorial number ด้วย recursion'
    if n==1 or n==0:
        return 1
    else:
        return n*factorial2(n-1)

if __name__ == "__main__":
    print ("3! =",factorial2(3))
    print ("5! =",factorial2(5))
    print ("1! =",factorial2(1))
    print ("0! =",factorial2(0))

3! = 6
5! = 120
1! = 1
0! = 1

In [19]:
#Example 2-5-3

def factorial3(n):
    'หา factorial number โดยนับถอยหลัง'
    ans=1
    while n!=0:
        ans*=n
        n-=1
    return ans

if __name__ == "__main__":
    print ("3! =",factorial3(3))
    print ("5! =",factorial3(5))
    print ("1! =",factorial3(1))
    print ("0! =",factorial3(0))

3! = 6
5! = 120
1! = 1
0! = 1

In [20]:
#Example 2-5-4
'หา factorial number ด้วย lambda function'

if __name__ == "__main__":
    factorial4 = lambda n: 1 if n==0 else n*factorial4(n-1)

    print ("3! =",factorial4(3))
    print ("5! =",factorial4(5))
    print ("1! =",factorial4(1))
    print ("0! =",factorial4(0))

3! = 6
5! = 120
1! = 1
0! = 1

In [21]:
#Example 2-5-5
import math as m
'หา factorial number ด้วย math module'

if __name__ == "__main__":
    print ("3! =",m.factorial(3))
    print ("5! =",m.factorial(5))
    print ("1! =",m.factorial(1))
    print ("0! =",m.factorial(0))

3! = 6
5! = 120
1! = 1
0! = 1

In [22]:
#Example 2-6-1

def fibo1(n=2):
    'Fibonacci number'

    aList = [0,1]
    n0 = 0
    n1 = 1
    if n<3: return aList
        
    for i in range(2,n):
        n0,n1 = n1,n0+n1
        aList.append(n1)
    return aList

if __name__ == "__main__":
    print (fibo1())
    print (fibo1(0))
    print (fibo1(1))
    print (fibo1(2))
    print (fibo1(3))
    print (fibo1(10))
    print (fibo1(13))

[0, 1]
[0, 1]
[0, 1]
[0, 1]
[0, 1, 1]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [23]:
#Example 2-6-2
'Fibonacci number in recursion'

def fibo2(n):
    if n<=1:
        return n
    else:
        return(fibo2(n-1)+fibo2(n-2))

def fibo_list(n=2):
    aList=[]
    for i in range(n):
        aList.append(fibo2(i))
    return aList

if __name__ == "__main__": 
    print(fibo_list(0))
    print(fibo_list(1))
    print(fibo_list(2))
    print(fibo_list(3))
    print(fibo_list(10))
    print(fibo_list(13))

[]
[0]
[0, 1]
[0, 1, 1]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [24]:
#Example 2-6-3

def fibo3(n=0,aList=[],n0=0,n1=1):
    'Modified Fibonacci number in recursion'

    if len(aList)<n:
        aList.append(n0)
        n0,n1=n1,n0+n1
    else:
        return aList
    return fibo3(n,aList,n0,n1)

if __name__ == "__main__":    
    print (fibo3())
    print (fibo3(0,aList=[]))
    print (fibo3(1,aList=[]))
    print (fibo3(2,aList=[]))
    print (fibo3(3,aList=[]))
    print (fibo3(10,aList=[]))
    print (fibo3(13,aList=[]))
    print (fibo3(15,aList=[]))

[]
[]
[0]
[0, 1]
[0, 1, 1]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [25]:
#Example 2-6-4
'Modified Fibonacci number in lambda function'

if __name__ == "__main__":
    
    fibo4 = lambda n=0, o=[]: [o.append(i) or \
    i if i<=1 else o.append(o[-1]+o[-2]) or \
    o[-1] for i in range(n)]

    print (fibo4())
    print (fibo4(0))
    print (fibo4(1))
    print (fibo4(2))
    print (fibo4(3))
    print (fibo4(10))
    print (fibo4(13))

[]
[]
[0]
[0, 1]
[0, 1, 1]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [26]:
#Example 2-7-1

'MORSE Code encoder/decoder'
morse_dict= {
    'a':'.-', 'b':'-...', 'c':'-.-.', 'd':'-..', 'e':'.', 
    'f':'..-.', 'g':'--.', 'h':'....', 'i':'..', 'j':'.---', 
    'k':'-.-', 'l':'.-..', 'm':'--', 'n':'-.', 'o':'---', 
    'p':'.--.', 'q':'--.-', 'r':'.-.', 's':'...', 't':'-', 
    'u':'..-', 'v':'...-', 'w':'.--', 'x':'-..-', 'y':'-.--', 
    'z':'--..', 
    '1':'.----', '2':'..---', '3':'...--', '4':'....-', '5':'.....',
    '6':'-....', '7':'--...', '8':'---..', '9':'----.', '0':'-----',
    '.':'.-.-.-', ',':'--..--', ':':'---...', '?':'..--..', '\'':'.----.', 
    '-':'-....-', '/':'-..-.', '(':'-.--.', ')':'-.--.-', '"':'.-..-.', 
    '=':'-...-', '+':'.-.-.', '*':'-..-', '@':'.--.-.', 
    }

def text_morse(txt):
    m_code = []
    for letter in txt.lower():
        if letter in morse_dict:
            m_code.append(morse_dict[letter])
        else:
            m_code.append('')
    return m_code

def morse_text(txt):
    t_code = ''
    
    for letter in txt:
        try:
            t_code+=list(morse_dict.keys()) \
            [list(morse_dict.values()).index(letter)]
        except:
            t_code+=' '
    return t_code

if __name__ == "__main__":
    print ("hello,world! ",*text_morse("hello,world!"))
    print ("sos SOS!! ",text_morse("sos SOS!!"))
    print ("'S' ",*text_morse("'S'"))
    print ("\"O\"",*text_morse('\"O\"'))
    print(morse_text(['...','---','abcd','...',]))

hello,world!  .... . .-.. .-.. --- --..-- .-- --- .-. .-.. -..
sos SOS!!  ['...', '---', '...', '', '...', '---', '...', '', '']
'S'  .----. ... .----.
"O" .-..-. --- .-..-.
so s

In [27]:
#Example 2-8-1

def square_root(n):
    'หาค่ารากที่สองของ n'
    n0 = 1
    n1 = n
    for i in range(100):
        n_mid = (n0+n1)/2
        n2 = n_mid*n_mid
        if n2 == n:
            return n_mid
        elif n2 < n:
            n0 = n_mid
        elif n2 > n:
            n1 = n_mid
    return n_mid

if __name__ == "__main__":
    print ("Square Root 2 =",square_root(2))
    print ("Square Root 4 =",square_root(4))
    print ("Square Root 5 =",square_root(5))

Square Root 2 = 1.414213562373095
Square Root 4 = 2.0
Square Root 5 = 2.23606797749979

In [28]:
#Example 2-8-2

def root(n,order=2):
    'หาค่ารากลำดับใดๆ ของ n'
    if n==0: 
        return 0
    elif n<0:
        return "Cannot Calculate"

    n0,n1,n2 = 1,n,0
    while abs(n2-n)>0.0001:
        n_mid = (n0+n1)/2
        n2 = n_mid**order
        if n2 < n:
            n0 = n_mid
        elif n2 > n:
            n1 = n_mid
        elif n2 ==n:
            return round(n_mid,3)
    return round(n_mid,3)

if __name__ == "__main__":
    print ("Root 2 of -2 =",root(-2)) 
    print ("Root 2 of 0 =",root(0))
    print ("Root 2 of 2 =",root(2))
    print ("Root 2 of 3 =",root(3))
    print ("Root 2 of 4 =",root(4))
    print ("Root 3 of 8 =",root(8,3))
    print ("Root 4 of 81 =",root(81,4))
    print ("Root 2.5 of 3 =",root(3,2.5))

Root 2 of -2 = Cannot Calculate
Root 2 of 0 = 0
Root 2 of 2 = 1.414
Root 2 of 3 = 1.732
Root 2 of 4 = 2.0
Root 3 of 8 = 2.0
Root 4 of 81 = 3.0
Root 2.5 of 3 = 1.552

In [29]:
#Example 2-8-3
'หา root ด้วยสูตร root n of x = x**(1/n)'

if __name__ == "__main__":
    print ("Root 2 of -2 =",(-2)**(1/2)) #Wrong Answer
    print ("Root 2 of 0 =",0**(1/2))
    print ("Root 2 of 2 =",2**(1/2))
    print ("Root 2 of 3 =",3**(1/2))
    print ("Root 2 of 4 =",4**(1/2))
    print ("Root 3 of 8 =",8**(1/3))
    print ("Root 4 of 81 =",81**(1/4))
    print ("Root 2.5 of 3 =",3**(1/2.5))

Root 2 of -2 = (8.659560562354934e-17+1.4142135623730951j)
Root 2 of 0 = 0.0
Root 2 of 2 = 1.4142135623730951
Root 2 of 3 = 1.7320508075688772
Root 2 of 4 = 2.0
Root 3 of 8 = 2.0
Root 4 of 81 = 3.0
Root 2.5 of 3 = 1.5518455739153598

In [30]:
#Example 2-8-4
import math

'หา root ด้วย math module'

if __name__ == "__main__":
    print ("Root 2 of 0 =",math.sqrt(0))
    print ("Root 2 of 2 =",math.sqrt(2))
    print ("Root 2 of 3 =",math.sqrt(3))
    print ("Root 2 of 4 =",math.sqrt(4))

Root 2 of 0 = 0.0
Root 2 of 2 = 1.4142135623730951
Root 2 of 3 = 1.7320508075688772
Root 2 of 4 = 2.0

In [31]:
#Example 2-9-1

def prime(n):
    'หาจำนวนเฉพาะตั้งแต่ 2 ถึง n'
    
    aList=[2]
    for num in range(n):
        if num>1:
            for i in range(2,num):
                if num%i ==0:
                    break
                elif i==num-1:
                    aList.append(num) 
    return aList

if __name__ == "__main__":
    print ("จำนวนเฉพาะที่น้อยกว่า 97",prime(97))
    print ("\n")
    print ("จำนวนเฉพาะที่น้อยกว่า 200 คือ",prime(200))

จำนวนเฉพาะที่น้อยกว่า 97 [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89]


จำนวนเฉพาะที่น้อยกว่า 200 คือ [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [32]:
#Example 2-9-2

def factorize(num):
    'แยกตัวประกอบ'

    aList = []
    i=2
    while i<=num:
        if num%i==0:
            num=num/i
            aList.append(i)
            i=2
        else:
            i+=1
    return aList

if __name__ == "__main__":
    print (factorize(0))
    print (factorize(10))
    print (factorize(8))
    print (*factorize(16))
    print (*factorize(30))
    print ("factor of", str(2*3*7*2*5*11*11), \
    "is",*set(factorize(2*3*7*2*5*11*11)))
    print (' * '.join(map(str,factorize(99020)))," = 99020")
    print (' * '.join(map(str,factorize(990200))), " = 990200")
    print ("factor of 990200 is",set(factorize(990200)))

[]
[2, 5]
[2, 2, 2]
2 2 2 2
2 3 5
factor of 50820 is 2 3 5 7 11
2 * 2 * 5 * 4951  = 99020
2 * 2 * 2 * 5 * 5 * 4951  = 990200
factor of 990200 is {2, 5, 4951}

In [33]:
#Example 2-10-1

def gcd(n1,n2):
    'หารร่วมมาก(หรม.) greatest common diversor(gcd) สองจำนวน'
    
    while n2!=0:
        #print (n1,n2)
        n1,n2 = n2, n1%n2
    return n1

if __name__ == "__main__":
    print (gcd(5,3))
    print (gcd(2,8))
    print (gcd(6,8))
    print (gcd(35,77))
    print (gcd(625,50))
    print (gcd(72,21))

1
2
2
7
25
3

In [34]:
#Example 2-10-2

def gcd(aList):
    'หารร่วมมาก(หรม.) greatest common diversor (gcd) หลายจำนวน'
    while len(aList)>1:        
        n1 = aList[0]
        n2 = aList[1]
        while n2!=0:
            n1,n2 = n2,n1%n2
        aList[1] = n1
        del aList[0]
    return n1

if __name__ == "__main__":

    print (gcd([10,15,20,30]))
    print (gcd([45,30,60,120]))
    print (gcd([49,35,77,70]))
    print (gcd([26,39]))

5
15
7
13

In [35]:
#Example 2-10-3

def gcd(aList):
    'หาค่าหารร่วมมาก(หรม.) greatest common diversor (gcd) หลายจำนวน'
    
    while len(aList)>1:
        while aList[1]!=0:
            aList[0],aList[1] = aList[1],aList[0]%aList[1]
        del aList[1]
    return aList[0]

if __name__ == "__main__":
    print (gcd([10,15,20,30]))
    print (gcd([45,30,120,60]))
    print (gcd([49,35,77,70]))
    print (gcd([26,39]))

5
15
7
13

In [36]:
#Example 2-10-4

'หาค่าหารร่วมมาก(หรม.) greatest common diversor (gcd) ด้วย math library'
import math

if __name__ == "__main__":
    print (math.gcd(5,3))
    print (math.gcd(2,8))
    print (math.gcd(6,8))
    print (math.gcd(35,77))
    print (math. gcd(625,50))
    print (math.gcd(math.gcd(math.gcd(49,35),77),70))

1
2
2
7
25
7

In [37]:
#Example 2-10-1

def gcd(n1,n2):
    'หารร่วมมาก(หรม.) สองจำนวน'
    while n2!=0:
        n1,n2 = n2, n1%n2
    return n1

def lcm(n1,n2):
    'คูณร่วมน้อย(ครม.) least common multiple (lcm) สองจำนวน'
    return int(n1*n2/gcd(n1,n2))

if __name__ == "__main__":
    print (lcm(20,30))
    print (lcm(3,7))
    print(lcm(15,30))

60
21
30

In [38]:
#Example 2-10-6

def gcd(n1,n2):
    'หารร่วมมาก(หรม.) สองจำนวน'
    while n2!=0:
        n1,n2 = n2, n1%n2
    return n1

def lcm(aList):
    'คูณร่วมน้อย(ครน.) หลายจำนวน'
    ans = aList[0]
    for i in aList[1:]:
        ans = int(ans*i/gcd(ans,i))
    return ans

if __name__ == "__main__":
    print (lcm([20,30,40,5]))
    print (lcm([3,7,2]))
    print(lcm([15,30,45,60]))
    print(lcm([2,5,10,12]))  
    print (gcd(2,5))

120
42
180
60
1

In [39]:
#Example 2-11-1

def SelectionSort(aList):
    'Selection Sort'
    
    for i in range(len(aList)):
        min = i
        for j in range(i+1,len(aList)):
            if aList[min]>aList[j]:
                min =j
        aList[i],aList[min]= aList[min],aList[i]
    return aList

if __name__ == "__main__":
    aList=[20,12,3,18,7,8,25,14]
    print ("Unsorted List = ",aList)
    print ("Sorted List = ",SelectionSort(aList))

Unsorted List =  [20, 12, 3, 18, 7, 8, 25, 14]
Sorted List =  [3, 7, 8, 12, 14, 18, 20, 25]

In [40]:
#Example 2-11-2

def BubbleSort(aList):
    'Bubble Sort'
    n= len(aList)
    for i in range(len(aList)):
        for j in range(0,n-i-1):
            if aList[j]>aList[j+1]:
                aList[j],aList[j+1]=aList[j+1],aList[j]          
    return aList

if __name__ == "__main__":
    aList=[20,12,3,18,7,8,25,14]
    print ("Unsorted List = ",aList)
    print ("Sorted List = ",BubbleSort(aList))

Unsorted List =  [20, 12, 3, 18, 7, 8, 25, 14]
Sorted List =  [3, 7, 8, 12, 14, 18, 20, 25]

In [41]:
#Example 2-11-3
 
if __name__ == "__main__":
    aList=[20,12,3,18,7,8,25,14]
    print ("Unsorted List = ",aList)
    print ("Sorted List 1 = ",sorted(aList))
    print ()
    aList=[20,12,3,18,7,8,25,14]
    print ("Unsorted List = ",aList)
    aList.sort()
    print ("Sorted List 2 = ",aList)

Unsorted List =  [20, 12, 3, 18, 7, 8, 25, 14]
Sorted List 1 =  [3, 7, 8, 12, 14, 18, 20, 25]

Unsorted List =  [20, 12, 3, 18, 7, 8, 25, 14]
Sorted List 2 =  [3, 7, 8, 12, 14, 18, 20, 25]

In [42]:
#Example 2-12-1

def LinearSearch(aList,key):
    'LinearSearch return index'

    for i in range(len(aList)):
        if aList[i]==key:
            return i
    return "Not Found!!!"

if __name__ == "__main__":
    aList=[20,12,3,18,7,8,25,14]
    print ("Search 20 = ",LinearSearch(aList,20))
    print ("Search 18 = ",LinearSearch(aList,18))
    print ("Search 14 = ",LinearSearch(aList,14))
    print ("Search 30 = ",LinearSearch(aList,30))

Search 20 =  0
Search 18 =  3
Search 14 =  7
Search 30 =  Not Found!!!

In [43]:
#Example 2-12-2

def BinarySearch(aList,key):
    'Binary Search return location of key in list'

    first = 0
    last = len(aList)-1
    i = 0
    found = False

    while (first<=last) and found==False:
        mid = (first+last)//2
        if aList[mid] == key:
            i=mid
            found = True
        else:
            if key<aList[mid]:
                last = mid-1
            else:
                first = mid+1

    if found == False:
        return "Not Found!!!"
    else:
        return i

if __name__ == "__main__":
    aList=[20,12,3,18,7,8,25,14]
    print ("Unsorted List = ", aList)
    aList.sort()
    print ("Sorted List = ",aList)
    print ("Search 3 = ",BinarySearch(aList,3))
    print ("Search 18 = ",BinarySearch(aList,18))
    print ("Search 25 = ",BinarySearch(aList,25))
    print ("Search 30 = ",BinarySearch(aList,30))

Unsorted List =  [20, 12, 3, 18, 7, 8, 25, 14]
Sorted List =  [3, 7, 8, 12, 14, 18, 20, 25]
Search 3 =  0
Search 18 =  5
Search 25 =  7
Search 30 =  Not Found!!!

In [44]:
#Example 3-1-1

def vowels(word):
    vowels_list = [x for x in word if x.casefold() in "aeiou"]
    return word, vowels_list, len(vowels_list)

if __name__ == "__main__":
    print (vowels("Thailand"))
    print (vowels("Malaysia"))
    print (vowels("Singapore"))

('Thailand', ['a', 'i', 'a'], 3)
('Malaysia', ['a', 'a', 'i', 'a'], 4)
('Singapore', ['i', 'a', 'o', 'e'], 4)

In [45]:
#Example 3-1-2

def x3(num):
    return num*3

if __name__ == "__main__":
    aList = [1,2,3,5,8,11]
    print (*list(map(x3,aList)))
    print (*list(map(x3,[2,4,6,8])),sep="\n")

3 6 9 15 24 33
6
12
18
24

In [46]:
#Example 3-1-3

if __name__ == "__main__":
    word = "AeIoU"
    print (word.upper())
    print (word.lower())
    print (word.swapcase())
    print (word.isupper())
    print (word.islower())
    print ("AEIOU".isupper())

AEIOU
aeiou
aEiOu
False
False
True

In [47]:
#Example 3-1-4

from calendar import isleap

if __name__ == "__main__":
    x = 99
    while x != 0:
        x = int(input("Enter Year: (0 to exit) "))
        if isleap(x):
            print (f"{x} is leap year.")
        else:
            print (f"{x} is not leap year.")

Enter Year: (0 to exit) 2020
2020 is leap year.
Enter Year: (0 to exit) 0
0 is leap year.

In [48]:
#Example 3-1-5

if __name__ == "__main__":
    x = "abcdefgh"[2:]
    y = x[2:]
    z = x[2:5]
    print (x)
    print (y)
    print (z)

cdefgh
efgh
efg