<a href="https://colab.research.google.com/github/JoTaijiquan/Example-of-MVC-pattern-on-pure-Python-2015/blob/master/Python0_CodeOnly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Example 1-1-1

print ("hello, world!")

hello, world!

In [ ]:
#Example 1-1-2

print ("สวัสดีชาวโลก")

สวัสดีชาวโลก

In [ ]:
#Example 1-1-3
print ("Hello","สวัสดี")

Hello สวัสดี

In [ ]:
#Example 1-1-4

import sys
print (sys.version)

3.6.9 (default, Jul 17 2020, 12:50:27)
[GCC 8.4.0]

In [ ]:
#Example 1-2-1

print (3+4)

7

In [ ]:
#Example 1-2-2

print (3+4)
print (4-3)
print (3-4)
print (3*4)
print (4/2)
print (4/3)

7
1
-1
12
2.0
1.3333333333333333

In [ ]:
#Example 1-2-3

print (2+3)
print (2.5+3.5)
print (2.0+3.0)
print (2+3.0)
print (3*0)
print (3.0*0)
print (4/2)
print (0/3)

5
6.0
5.0
5.0
0
0.0
2.0
0.0

In [ ]:
#Example 1-2-4

print (11/4)
print (11//4)
print (11%4)
print (11.0//4.0)
print (11.0%4)

2.75
2
3
2.0
3.0

In [ ]:
#Example 1-2-5

print (3**2)
print (10**4)
print (2.0**3)
print (3**3.0)

9
10000
8.0
27.0

In [ ]:
#Example 1-2-6

print (1+2*3+4)
print ((1+2)*(3+4))

11
21

In [ ]:
#Example 1-2-7

print (type(3))
print (type(3.1))
print (type(3+2.0))
print (type(1+2j))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>

In [ ]:
#Example 1-2-8

print ((1+2j)+(2+3j))
print ((1+1j)*(1+1j))
print ((0+1j)*(0+1j))
print ((0+1j)**2)

(3+5j)
2j
(-1+0j)
(-1+0j)

In [ ]:
#Example 1-3-1

a = 2
b = 3.1416
c = "ABC"
d = True
e = False
f = 4+3J
g = 1e3
h = None

print ("a =",a)
print ("b =",b)
print ("c =",c)
print ("d =",d)
print ("e =",e)
print ("f =",f)
print ("g =",g)
print ("h =",h)

a = 2
b = 3.1416
c = ABC
d = True
e = False
f = (4+3j)
g = 1000.0
h = None

In [ ]:
#Example 1-3-2

a = 2; b = 3.1416; c = "ABC"
d = True; e = False; f = 4+3J; 
g = 2e4; h = None

print ("type of a is",type(a))
print ("type of b is",type(b))
print ("type of c is",type(c))
print ("type of d is",type(d))
print ("type of e is",type(e))
print ("type of f is",type(f))
print ("type of g is",type(g))
print ("type of h is",type(h))

type of a is <class 'int'>
type of b is <class 'float'>
type of c is <class 'str'>
type of d is <class 'bool'>
type of e is <class 'bool'>
type of f is <class 'complex'>
type of g is <class 'float'>
type of h is <class 'NoneType'>

In [ ]:
#Example 1-3-3

a,b,c,d = 0,2,3.1416,"ABC"

print (a)
print (b)
print (a,b,c,d)

0
2
0 2 3.1416 ABC

In [ ]:
#Example 1-3-4

a,b = 10,3

print (a+b)
print (a-b)
print (a*b)
print (a/b)

13
7
30
3.3333333333333335

In [ ]:
#Example 1-3-5

a = 10
b = a-3


print (a)
print (b)
print()
a=20
print (a)
print (b)

10
7

20
7

In [ ]:
#Example 1-3-6

a,b = 10,5
c,d = a,b

print (a,b,c,d)
a,b = 7,3
print (a,b,c,d)

10 5 10 5
7 3 10 5

In [ ]:
#Example 1-3-7

a,b = 135, 246
a,b = b,a

print (a,b)

321 123

In [ ]:
#Example 1-3-8

a,b,c = 3,6,-8

print (+a,-b,+c)
print (++a, --b,-c)
print (+-a, -+b,--c)

3 -6 -8
3 6 8
-3 -6 -8

In [ ]:
#Example 1-3-9

a,b,c = 1,4.2e3,-1

a,b,c = b,c,a

print (a,b,c)

4200.0 -1 1

In [ ]:
#Example 1-3-10

a=2; b=5;

a=a+2
b=b*5

print (a,b)

4 25

In [ ]:
#Example 1-3-11

a=2; b=5;

a+=3
b*=10

print(a,b)

5 50

In [ ]:
#Example 1-3-12

apple = 1
ben10 = "BenTen"
cake = "Cake"
D_D = ben10 + " and " + cake

print (apple,D_D)

1 BenTen and Cake

In [ ]:
#Example 1-4-1

x = input("Input x ")

print(x)
print (type(x))

Input x5
5
<class 'str'>

In [ ]:
#Example 1-4-3

a = input("Input a ")

print (a)
print (a+10)

Input a10
10

TypeError: ignored

In [ ]:
#Example 1-4-4

a = input("Input a ")

a = int(a)
print (a)
print(type(a))
print(a+10)

Input a10
10
<class 'int'>
20

In [ ]:
#Example 1-4-5

a = "10"
b = int(a)
c = float(a)
d = str(a)

print(a,b,c,d)
print ("type of a is ",type(a))
print ("type of b is ",type(b))
print ("type of c is ",type(c))
print ("type of d is ",type(d))

10 10 10.0 10
type of a is  <class 'str'>
type of b is  <class 'int'>
type of c is  <class 'float'>
type of d is  <class 'str'>

In [ ]:
#Example 1-4-6

a = "5"
b = 5

print (a*10)
print (b*10)

5555555555
50

In [ ]:
#Example 1-5-1

a=10; b=11

if a==10:
  print ("Yes a=10")

if b==10:
  print("yes b=10")

Yes a=10

In [ ]:
#Example 1-5-2

a=11

if a==10:
  print("yes")
else:
  print("no")

no

In [ ]:
#Example 1-5-3

a=11

if a!=10:
  print(a)
else:
  print("no")

11

In [ ]:
#Example 1-5-4

a = input ("Input a ")
a = int(a)

if a==10:
  print ("10")
elif a==11:
  print ("ok")
elif a==12:
  print ("haha")
else:
  print ("NOOOO")

Input a 20
NOOOO

In [ ]:
#Example 1-5-5

a = input ("Input a ")
a = int(a)

if a==10:
  print ("a=10")

if a>10:
  print ("a>10")
 
if a<10:
  print ("a<10")

if a!=10:
  print ("a is not equal to 10")

Input a 8
a<10
a is not equal to 10

In [ ]:
#Example 1-5-6

a = 10

print (a==10)
print (a>10)
print (a<10)
print (a!=10)
print (a>=10)
print (a<=10)

True
False
False
False
True
True

In [ ]:
#Example 1-5-7

a=True; b=False
    
print ("True and True =",a&a)
print ("True and False =",a&b)
print ("False and False =",b&b)

print ("True or True =",a|True)
print ("True or False =",a|False)
print ("False or False =",b|b)

print ("Not True =",not(a))
print ("a==a is",a==a)
print ("9==8 is",a==b)
print ("9>8 is",9>8)
print ("8>=8 is",8>=8)
print ("8!=9 is",8!=9)

print (int(a))
print (int(b))

True and True = True
True and False = False
False and False = False
True or True = True
True or False = True
False or False = False
Not True = False
a==a is True
9==8 is False
9>8 is True
8>=8 is True
8!=9 is True
1
0

In [ ]:
#Example 1-5-8

a = True

if a:
  print ("hahaha")
else:
  print ("hohoho")

hohoho

In [ ]:
#Example 1-6-1

a = 0

while a!=10:
  print (a)
  a+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Example 1-6-2

a = 10

while a>1:
  print (a)
  a-=2

10
8
6
4
2

In [ ]:
#Example 1-6-3

a = True

while a:
  x = input ("Input x ")
  if x=="0":
    a = False
    print ("End Loop")
  else:
    print (x)

Input x 10
10
Input x 0
End Loop

In [ ]:
#Example 1-6-4

while True:
  x = input ("input x ")
  if x=="0":
    print ("End Loop")
    break
  else:
    print (x)

input x 0
End Loop

In [ ]:
#Example 1-6-5

import random

random.seed()
y=random.randint(1,10)
x=0

while x!=y:
  x = int(input("Input x (1-10)"))
  if x==y:
    print ("Yes, you win x=",y,"!!!")
  elif x>y:
    print ("Too high, try again.")
  elif x<y:
    print ("Too low, try again.")
    
print ("END GAME!!!")

Input x (1-10)5
Too high, try again.
Input x (1-10)3
Too high, try again.
Input x (1-10)1
Too low, try again.
Input x (1-10)2
Yes, you win x= 2 !!!
END GAME!!!

In [ ]:
#Example 1-7-1

for i in range(10):
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#Example 1-7-2

for i in range(2,10):
  print (i,i+1)

2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [ ]:
#Example 1-7-3

for i in range(1,20,2):
  print (i)
  if i>10:
    break

1
3
5
7
9
11

In [ ]:
#Example 1-8-1

a=[9,2,5,3]
b=["abc",2,3,False]

print ("a=",a)
print ("b=",b)
print ("type of a is",type(a))
print ("type of b is",type(b))
print ("a+b =",a+b)

a= [9, 2, 5, 3]
b= ['abc', 2, 3, False]
type of a is <class 'list'>
type of b is <class 'list'>
a+b = [9, 2, 5, 3, 'abc', 2, 3, False]

In [ ]:
#Example 1-8-2

a =a=[9,2,5,3]
b=["abc",2,3,False]
c = "HELLO"

print ("a[1] =",a[1])
print ("b[0] =",b[0])
print ("a[-2] =",a[-2])
print ("a[1:4] =",a[1:4])
print ("c[2] =",c[2])
print ("c[2:] =",c[2:])

a[1] = 2
b[0] = abc
a[-2] = 5
a[1:4] = [2, 5, 3]
c[2] = L
c[2:] = LLO

In [ ]:
#Example 1-8-3

a = [9,2,5,3,8,7]

print ("a=",a)
a[0]=7
a[2]=["a","Hello",9+2]
print ("a=",a)
a[1:4] = 111,999
print ("a=",a)

a= [9, 2, 5, 3, 8, 7]
a= [7, 2, ['a', 'Hello', 11], 3, 8, 7]
a= [7, 111, 999, 8, 7]

In [ ]:
#Example 1-8-4

a = [[3,4,5],
     [6,7,8],
     ["a","b","Hello"]]

print (a)
print (a[1])
print (a[2][1])
print (a[2][2][2])

[[3, 4, 5], [6, 7, 8], ['a', 'b', 'Hello']]
[6, 7, 8]
b
l

In [ ]:
#Example 1-8-5

a=[]

print ("1. a=",a)
a.append("hello")
print ("2. a=",a)
a.append("wordl")
print ("3. a=",a)

1. a= []
2. a= ['hello']
3. a= ['hello', 'wordl']

In [ ]:
#Example 1-8-6

a=[1,3,5,7,9]

print (a)
del a[1]
print (a)
del a[-1]
print (a)

[1, 3, 5, 7, 9]
[1, 5, 7, 9]
[1, 5, 7]

In [ ]:
#Example 1-9-1

def func_1_9_1():
  print ("ha ha ha")

if __name__ == "__main__":
    func_1_9_1()
    func_1_9_1()

ha ha ha
ha ha ha

In [ ]:
#Example 1-9-2

def func_1_9_2(x):
  print ("x= ",x)

if __name__ == "__main__":
  func_1_9_2(10)
  func_1_9_2(20)
  func_1_9_2("hello")
  func_1_9_2(3+4)

x=  10
x=  20
x=  hello
x=  7

In [ ]:
#Example 1-9-3

def func_1_9_3(x,y):
  print ("x= ",x)
  print ("y= ",y)
  print ("")

if __name__=="__main__":
  func_1_9_3(10,20)
  func_1_9_3(10,"hello")
  a,b = 10,20
  func_1_9_3(a,b)

x=  10
y=  20

x=  10
y=  hello

x=  10
y=  20

In [ ]:
#Example 1-9-4

def func_1_9_4(x,y):
  'การเปลียนแปลงค่าตัวแปรในฟังก์ชันไม่ส่งผลต่อตัวแปรนอกฟังก์ชัน'
  x+=1
  y+=2
  print("func: x=",x," y=",y)

if __name__=="__main__":
  x=10; y=20
  print("x=",x," y=",y)
  func_1_9_4(x,y)
  print("x=",x," y=",y)

x= 10  y= 20
func: x= 11  y= 22
x= 10  y= 20

In [ ]:
#Example 1-9-5

def func_1_9_5(x,y):
  z = x+y
  return z

if __name__=="__main__":
  a = func_1_9_5(3,4)
  print (a) 
  print(func_1_9_5(10,20))

7
30

In [ ]:
#Example 1-9-6

def func_1_9_6(x,y):
  return x+1, y+2

if __name__=="__main__":
  a,b = func_1_9_6(10,20)
  print (a,b)
  print (func_1_9_6(100,200))

11 22
(101, 202)